.lb-blend-navitem {
    display: flex;
    align-items: center;
}

#lb-blend-btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    height: 38px;
    padding: 0 22px;

    margin-left: 16px;

    background: #00e054;
    color: #14181c;

    border-radius: 8px;

    font-size: 15px;
    font-weight: 700;
    line-height: 1;

    white-space: nowrap;
    cursor: pointer;

    transition: background .15s ease;
}

#lb-blend-btn:hover {
    background: #00c94c;
}